.leftside, .rightside {
    height: 50vh;
    width: 100%;
}

@media (min-width: 768px){
    .leftside {
        height: 100%;
    }

    .rightside {
        position: fixed;

    }
}

@media (max-width: 768px){
    .leftside {
        height: 100%;
        
    }

    .rightside {
        display: none;
    }
}

.main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.leftside {
    background: whitesmoke;
}

.rightside {
    position: fixed;
    height: 91vh;
    width: 50%;
}

#windy {
    height: 100%;
    width: 100%;
}